

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}


input {
    background-color: var(--primary);
    color: var(--text);
}

input::placeholder {
    color: var(--text-200);
}

button {
    /* font-family: inherit; */
    background-color: var(--primary);
    color: var(--text);
    width: 120px;
    height: 50px;
    border-radius: 8px;
    font-size: 1.3em;
    border: none;

    cursor: pointer;
}

button:hover {
    background-color: var(--primary-800);
    color: var(--text);
}